etc/samples/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.db.com/cpg/ccs/service/ccs" xmlns:ccs="http://www.db.com/cpg/ccs/service/ccs"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="DictionaryType">
        <xs:sequence>
            <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RgbStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="red"/>
            <xs:enumeration value="green"/>
            <xs:enumeration value="blue"/>
            <xs:enumeration value="amber"/>
            <xs:enumeration value="blank"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SettlementMethodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Gross"/>
            <xs:enumeration value="Net"/>
            <xs:enumeration value="Cash"/>
            <xs:enumeration value="Safe"/>
            <xs:enumeration value="CLS"/>
            <xs:enumeration value="CCIL"/>
            <xs:enumeration value="CFETS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaginationType">
        <xs:sequence>
            <xs:element name="count" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="pageNumber" type="xs:int" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FilterFieldsType">
        <xs:sequence>
            <xs:element name="fieldName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="comparison" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fieldValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="logicalOperation" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="comparisonOptional" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="fieldValueOptional" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdDictionaryType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmptyElement" type="ccs:EmptyType"/>
    <xs:complexType name="PropertyType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCSExceptionType">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="property" type="ccs:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cause" type="ccs:CCSExceptionType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemExceptionType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSExceptionType">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ValidationExceptionType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSExceptionType">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataNotFoundExceptionType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSExceptionType">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SystemException" type="ccs:SystemExceptionType"/>
    <xs:element name="ValidationException" type="ccs:ValidationExceptionType"/>
    <xs:element name="DataNotFoundException" type="ccs:DataNotFoundExceptionType"/>
    <xs:complexType name="SortFieldsType">
        <xs:sequence>
            <xs:element name="fieldName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="direction" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NavigationType">
        <xs:sequence>
            <xs:element name="paging" type="ccs:PaginationType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="filtering" type="ccs:FilterType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sorting" type="ccs:SortType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="selection" type="ccs:SelectionType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="grouping" type="ccs:GroupingType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NavigableResponseType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSResponseType">
                <xs:sequence>
                    <xs:element name="fullCount" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="groupingResult" type="ccs:GroupingResultType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GroupingType">
        <xs:sequence>
            <xs:element name="fields" type="ccs:FieldValueType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="aggregators" type="ccs:AggregationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExternalExceptionType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSExceptionType">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ExternalException" type="ccs:ExternalExceptionType"/>
    <xs:complexType name="ProcessingExceptionType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSExceptionType">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EmptyType">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="ProcessingException" type="ccs:ProcessingExceptionType"/>
    <xs:complexType name="SortType">
        <xs:sequence>
            <xs:element name="fields" type="ccs:SortFieldsType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FilterType">
        <xs:sequence>
            <xs:element name="fields" type="ccs:FilterFieldsType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AggregationType">
        <xs:sequence>
            <xs:element name="fieldName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="aggregator" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityExceptionType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSExceptionType">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SecurityException" type="ccs:SecurityExceptionType"/>
    <xs:complexType name="BookType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="businessParent" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="subBranch" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="businessGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="profitCentre" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="legalEntity" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="bookType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="trader" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="endOfDayProfileName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="businessArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gffxBook" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserDataType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="properties" type="ccs:UserPropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FieldValueType">
        <xs:sequence>
            <xs:element name="fieldName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fieldValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlertType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="1" maxOccurs="1"/>
            <xs:element name="time" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="errorCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="severity" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="isLiveClient" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupingResultType">
        <xs:sequence>
            <xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="count" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="data" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="children" type="ccs:GroupingResultType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorType">
        <xs:complexContent>
            <xs:extension base="ccs:AlertType">
                <xs:sequence>
                    <xs:element name="host" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="thread" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="subCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="subSystem" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="errorStack" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ClientReportType">
        <xs:sequence>
            <xs:element name="cob" type="xs:date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="createdAt" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
            <xs:element name="downloadLink" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="linesCount" type="xs:long" minOccurs="1" maxOccurs="1"/>
            <xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserCredentialsType">
        <xs:sequence>
            <xs:element name="userId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="resources" type="ccs:UserResourceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserResourceType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="actions" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DictionaryContainerType">
        <xs:sequence>
            <xs:element name="countries" type="ccs:DictionaryType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="industries" type="ccs:DictionaryType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="naces" type="ccs:DictionaryType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sics" type="ccs:DictionaryType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="businessGroups" type="ccs:IdDictionaryType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DictionarySpecificationType">
        <xs:sequence>
            <xs:element name="countries" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="industries" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="naces" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="sics" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="businessGroups" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SelectionType">
        <xs:sequence>
            <xs:element name="fieldName" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserPropertyType">
        <xs:complexContent>
            <xs:extension base="ccs:TypedPropertyType">
                <xs:sequence>
                    <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="shared" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TypedPropertyType">
        <xs:sequence>
            <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCSRequestType" abstract="true">
        <xs:sequence>
            <xs:element name="instructions" type="ccs:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CCSResponseType">
        <xs:sequence>
            <xs:element name="instructions" type="ccs:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NavigableRequestType">
        <xs:complexContent>
            <xs:extension base="ccs:CCSRequestType">
                <xs:sequence>
                    <xs:element name="navigation" type="ccs:NavigationType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CCSRequest" type="ccs:NavigableRequestType"/>
    <xs:element name="CCSResponse" type="ccs:NavigableResponseType"/>
</xs:schema>
